body {
    font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


li {
    float: right;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}


/*On hoover: */
li:hover {
    background-color: royalblue;
    border: 2px dashed white;
}

a:hover {
    color: white;
}

li:active {
   padding: 10px 15px; 
}


